*{
    margin:0px;
    padding:0px;
}
#display{
    background-color: rgb(228, 213, 213);
    height:25px;
   
}
/* #tabl {
    /* align-items: center; 
    justify-content: center; 
    
    
}
 */
.tabl{
    display: flex;
    justify-content: center; 
    margin-top: 50px;

}
#tabl tr td{
margin: 20px;
padding: 10px;
border-radius: 2px;
}
#tabl tr td:hover{
    background-color: rgb(140, 204, 38);
}
.td {
    font-size: 20px;
    color: black;
    background: rgb(255, 145, 0);
}
.td1 {
    color: white;
    background: rgba(14, 14, 14, 0.847);
}